.item {
    display: flex;
    width: 400px;
    align-items: center;
    justify-content: space-between;
    margin-bottom: .5rem;
    padding: .5rem;
    border-radius: .5rem;
    background: white;
    box-shadow: 2px 2px 6px 0 rgba(0,0,0,0.28);
    transition: .2s ease-in;
}

.item:hover {
    background: rgb(212, 216, 212);
}

.item div {
    display: flex;
    flex-direction: column;
}

.item button {
    border: none;
    background: red;
    color: white;
    border-radius: .5rem;
    padding: .5rem 1rem;
    cursor: pointer;
    transition: all .2s ease-in;
}

.item button:hover {
    filter: brightness(.8);
    transform: scale(1.05);
}